dotenv==0.9.9
faiss-cpu==1.13.2
fastapi==0.135.3
huggingface_hub==1.9.0

Jinja2==3.1.6

langchain-text-splitters==1.1.1

Markdown==3.10.2

numpy==2.3.0
ollama==0.6.1
striprtf==0.0.4

pymongo==4.17.0
pypdf==6.10.0
python-multipart==0.0.5
python-docx==0.8.11
python-dotenv==1.2.2

sentence-transformers==5.3.0

streamlit==1.56.0

tavily-python==0.7.23

transformers==5.5.0

uvicorn==0.43.0

sqlite3